

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/forget.css">
    <title>Document</title>
</head>
<body>
    <div id="page1">

  <div class="bg"></div>
  <div class="container animated fadeIn">
    <center>
      <h2>
        <a href="#homepage">Forget</a>
      </h2>
    </center>
    <hr>
    <form action="/forget" method="post">
          <center>
        <div> 
          <input type="text" name="username" placeholder="Username" value="">
          <input type="password" name="newPassword" placeholder="Password">
         </div>
            <button>forget</button>
          </center>
          <br>
      </form>
  </div>
   
    

</div>
    

  </body>