
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <title>Signup</title>
</head>
<body>
    
    <div id="page1">

        <nav class="dropdownmenu">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/signin">signin</a></li>
              <li><a href="/signup">signup</a></a>
               <li><a href="/profile">profile</a></li>
              </li>
            
            </ul>
          </nav>

<div class="panel">
    <img class="panel__avatar" src="http://icons.iconarchive.com/icons/jonathan-rey/simpsons/256/Bart-Simpson-01-icon.png" alt="avatar" />
    <form action="/reset" method="post" class="inputs">
      <div class="inputs__item">
        <label for="previous-password" class="inputs__label">Previous password</label>
        <input type="password" class="inputs__input" id="previous-password" name="oldPassword" />
      </div>
      <div class="inputs__item inputs__item--new">
        <label for="new-password" class="inputs__label">New password</label>
        <input type="password" class="inputs__input" id="new-password" name="newPassword" />
      </div>
      <div class="inputs__item inputs__item--cta">
        <input type="submit" class="btn" value="RESET" />
      </div>
    </form>
  </div>


  
</div>
</body>
</html>