<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="page1">

        <nav>
            <a href="/">Home</a>
            &nbsp; &nbsp; &nbsp; 
            <a href="/signin">signin</a>
            &nbsp; &nbsp; &nbsp;
            <a href="/signup">signup</a>
          
            
            </nav>
            <br>
<form action="/forget" method="post">
   username <input name="username" type="text" placeholder="username">
   <br> <br>
   password <input name="newPassword" type="password"  placeholder="newPassword">
   <br> <br>
   <button>forget</button>
</form>



    </div>
</body>
</html>