<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/signin.css">
    <title>login</title>
</head>
<body>
    
    <div id="page1">

        <nav class="dropdownmenu">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/signin">signin</a></li>
              <li><a href="/signup">signup</a></a>
               <li><a href="/profile">profile</a></li>
              </li>
            
            </ul>
          </nav>
        
            <!-- singin form -->
    <div class="login-box">
        <h1 class="login-title">sign-in</h1>
        <form id="form" action="/signin" method="post">
            <!-- email input -->
            <label for="email">Email</label>
            <input type="text" name="username" id="email" class="input-field">

            <!-- password input-->
            <label for="password">password</label>
            <input type="password" name="password" id="password" class="input-field">
            
            <!-- submit input-->
            <input type="submit" value="login" class="btn-submit">
           
            <a href="/forget" class="link-login">forgot password</a>
            <a href="/signup" class="link-signup">signup</a>
       
        </form>
    </div> 



    </div>
</body>
</html>